<!-- Wappler include head-page="layouts/main" is="dmx-app" id="home" appConnect="local" jquery_slim_35="local" fontawesome_4="local" bootstrap4="cerulean" bootstrap_icons="cdn" -->
<meta name="ac:route" content="/ajuda">
<div class="container wappler-block mt-4 mb-0 pt-5 pb-0">
    <div class="row">
        <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <h4>Página ajuda1 <p wappler-command="editContent" wappler-empty="undefined"><br></p>
                <p wappler-command="editContent"><br>
                    <font color="#868e96"><span style="font-size: 19.2px;">Texto texto texto Texto texto textoTexto texto textoTexto texto texto Texto texto textoTexto texto textoTexto texto textoTexto texto textoTexto texto textoTexto texto
                            textoTexto texto textoTexto texto textoTexto texto textoTexto texto textoTexto texto textoTexto texto textoTexto texto textoTexto texto texto</span></font>
                </p>
            </h4>
        </div>
    </div>
</div>