<dmx-serverconnect id="serverconnect1" url="/api/external/connection/get_connections"></dmx-serverconnect>
<dmx-serverconnect id="serverconnect2" url="/api/organizations/get"></dmx-serverconnect>
<!-- Wappler include head-page="layouts/main" is="dmx-app" id="home" appConnect="local" jquery_slim_35="local" fontawesome_4="local" bootstrap4="cerulean" bootstrap_icons="cdn" components="{dmxBootstrap4TableGenerator:{},dmxDataTraversal:{},dmxBootstrap4Modal:{},dmxFormatter:{},dmxPreloader:{},dmxNotifications:{}}" -->
<dmx-notifications id="notifies1" position="bottom" timeout="1000"></dmx-notifications>
<dmx-data-detail id="data_detail1" dmx-bind:data="content.serverconnect1.data.api.data.results" key="connection_id"></dmx-data-detail>
<div class="wappler-block mt-4 mb-0 pt-5 pb-0 container">
    <h4>Conexões<p wappler-command="editContent" wappler-empty="undefined"><br></p>
    </h4>
    <form id="form1" method="post" is="dmx-serverconnect-form" action="/api/external/connection/create_connections" dmx-on:success="serverconnect1.load(true);notifies1.success('Conexão adicionada')">

        <select id="email" class="custom-select custom-select-sm" style="width:100px;" dmx-bind:value="serverconnect2.data.query" dmx-bind:options="serverconnect2.data.query" optiontext="first_name" optionvalue="email" name="email"></select>
        <button id="btn2" class="btn btn-primary btn-sm" type="submit">Conectar&nbsp;<i class="fa fa-user-plus"></i></button></form>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Estado</th>
                    <th>ID Conexão&nbsp;</th>
                    <th>Criação</th>
                    <th>Organização</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs4table" dmx-bind:repeat="content.serverconnect1.data.api.data.results" id="tableRepeat1">
                <tr dmx-on:click="serverconnect1.load({});data_detail1.select(connection_id);modal1.show()">
                    <td dmx-text="state">
                        <div id="conditional1" is="dmx-if" dmx-bind:condition="(state == 'active')"></div>
                    </td>
                    <td dmx-text="connection_id"></td>
                    <td dmx-text="created_at"></td>
                    <td dmx-text="their_label"></td>
                </tr>
            </tbody>
        </table>
    </div>





</div>
<div class="modal mt-5" id="modal1" is="dmx-bs4-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Conexão</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form is="dmx-api-form" id="serverconnectform1" method="post" action="/api/external/connection/rm_connections" dmx-generator="bootstrap4" dmx-form-type="horizontal" dmx-populate="data_detail1.data"
                    dmx-on:success="modal1.hide();serverconnect1.load({},true);notifies1.info('Conexão excluida')">
                    <div class="form-group row">
                        <label for="inp_state" class="col-sm-2 col-form-label col-form-label-sm">Estado</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_state" name="state" dmx-bind:value="data_detail1.data.state" aria-describedby="inp_state_help" placeholder="Enter State" readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inp_my_did" class="col-sm-2 col-form-label col-form-label-sm">DID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_my_did" name="my_did" dmx-bind:value="data_detail1.data.my_did" aria-describedby="inp_my_did_help" placeholder="Enter My did" readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inp_connection_id" class="col-sm-2 col-form-label col-form-label-sm">Conexão</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_connection_id" name="connection_id" dmx-bind:value="data_detail1.data.connection_id" aria-describedby="inp_connection_id_help" placeholder="Enter Connection"
                                readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inp_created_at" class="col-sm-2 col-form-label col-form-label-sm">Criação</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_created_at" name="created_at" dmx-bind:value="data_detail1.data.created_at" aria-describedby="inp_created_at_help" placeholder="Enter Created at"
                                readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inp_updated_at" class="col-sm-2 col-form-label col-form-label-sm">Atualização</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_updated_at" name="updated_at" dmx-bind:value="data_detail1.data.updated_at" aria-describedby="inp_updated_at_help" placeholder="Enter Updated at"
                                readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inp_their_role" class="col-sm-2 col-form-label col-form-label-sm">Role</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_their_role" name="their_role" dmx-bind:value="data_detail1.data.their_role" aria-describedby="inp_their_role_help" placeholder="Enter Their role"
                                readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inp_rfc23_state" class="col-sm-2 col-form-label col-form-label-sm">Estado</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_rfc23_state" name="rfc23_state" dmx-bind:value="data_detail1.data.rfc23_state" aria-describedby="inp_rfc23_state_help" placeholder="Enter Rfc23 state"
                                readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inp_invitation_key" class="col-sm-2 col-form-label-sm col offset-0 col-form-label">Chave</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_invitation_key" name="invitation_key" dmx-bind:value="data_detail1.data.invitation_key" aria-describedby="inp_invitation_key_help"
                                placeholder="Enter Invitation key" readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inp_invitation_mode" class="col-sm-2 col-form-label col-form-label-sm">Invitation</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_invitation_mode" name="invitation_mode" dmx-bind:value="data_detail1.data.invitation_mode" aria-describedby="inp_invitation_mode_help"
                                placeholder="Enter Invitation mode" readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inp_routing_state" class="col-sm-2 col-form-label col-form-label-sm">Routing&nbsp;</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_routing_state" name="routing_state" dmx-bind:value="data_detail1.data.routing_state" aria-describedby="inp_routing_state_help"
                                placeholder="Enter Routing state" readonly="true">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inp_their_label" class="col-sm-2 col-form-label col-form-label-sm">Legenda</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-sm" id="inp_their_label" name="their_label" dmx-bind:value="data_detail1.data.their_label" aria-describedby="inp_their_label_help" placeholder="Enter Their label"
                                readonly="true">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary font-weight-bold" data-dismiss="modal">Fechar&nbsp;<i class="fa fa-times"></i>
                </button>
                <button id="btn1" class="btn btn-danger font-weight-bold btn-sm" dmx-on:click="serverconnectform1.submit()">Excluir&nbsp;<i class="fa fa-trash"></i>
                </button>
            </div>
        </div>
    </div>
</div>



<meta name="ac:route" content="/connections">