<!-- Wappler include head-page="layouts/main" is="dmx-app" id="lgoin" appConnect="local" jquery_slim_35="local" fontawesome_4="local" bootstrap4="cerulean" -->
<meta name="ac:route" content="/login">


<div class="container wappler-block mt-5 pt-3 pb-3">
    <h1 class="text-center">Login</h1>
    <div class="row">
        <div class="col-12 col-xl-4 offset-xl-4 text-center col-md-6 offset-md-3 col">
            <form id="form1" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter some text">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter some text">
                </div>
                <button class="btn btn-primary" type="submit">Log in</button>
            </form>
        </div>
    </div>
</div>