<!-- Wappler include head-page="layouts/main" is="dmx-app" id="login" appconnect="local" jquery_slim_35="local" fontawesome_4="local" bootstrap4="cdn" components="{dmxNotifications:{},dmxBootstrap4Toasts:{},dmxValidator:{},dmxBootstrap4Modal:{}}" role="alert" -->
<div class="modal" id="modal1" is="dmx-bs4-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Erro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Dados incorretos</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
<div is="dmx-browser" id="browser1"></div>
<div class="container">
  <form id="login1" method="post" is="dmx-serverconnect-form" action="/api/security/login" dmx-on:success="browser1.goto('dashboard',true)">
    <div class="row">
      <div class="col-12 col-md-8 col-lg-7 col-xl-5 text-left">
        <div class="row">
          <div class="col">
            <h1>Log In</h1>
            <p class="text-h3 mt-5">Digite seu email e senha abaixo</p>
          </div>
        </div>
        <div class="row">
          <div class="col mt-4">
            <input type="text" id="inp_email" name="email" class="form-control" placeholder="Digite seu email" required="">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <input type="password" id="inp_password" name="password" class="form-control" placeholder="Digite sua senha" required="">
          </div>
        </div>
        <div class="row mt-4">
          <div class="col">
            <button id="login1_submit" class="btn btn-primary" type="submit">Login</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>