<dmx-notifications id="notifies1" position="bottom"></dmx-notifications>
<dmx-serverconnect id="serverconnect2" url="/api/external/connection/get_connections"></dmx-serverconnect>
<dmx-data-detail id="data_detail1" dmx-bind:data="serverconnect1.data.query" key="message_id"></dmx-data-detail>
<dmx-serverconnect id="serverconnect1" url="/api/messages/getMessages"></dmx-serverconnect>
<!-- Wappler include head-page="layouts/main_user" is="dmx-app" id="messages" appConnect="local" jquery_slim_35="local" fontawesome_4="local" bootstrap4="cerulean" bootstrap_icons="cdn" components="{dmxDataTraversal:{},dmxBootstrap4TableGenerator:{},dmxBootstrap4Modal:{},dmxFormatter:{},dmxNotifications:{}}" -->
<meta name="ac:route" content="/messages_user">




<body is="dmx-app" id="index">
  <div class="mb-5 container">

    <h5 class="text-center h-auto mt-4 pt-5"><i class="bi-chat-right-text"></i>&nbsp;Mensagens</h5><button id="btn1" class="btn font-weight-bold btn-sm btn-primary" dmx-on:click="modal2.show()" style="cursor: pointer;">Nova
      mensagem&nbsp;<i class="fa fa-envelope"></i></button>
    <div class="table-responsive-sm">
      <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th class="text-center font-weight-bold">Message ID</th>
            <th class="text-center font-weight-bold">De</th>
            <th class="text-center font-weight-bold">Date</th>
            <th class="text-center font-weight-bold">Tipo</th>
          </tr>
        </thead>
        <tbody is="dmx-repeat" dmx-generator="bs4table" dmx-bind:repeat="serverconnect1.data.query" id="tableRepeat1">
          <tr dmx-on:click="data_detail1.select(message_id);modal1.show()">
            <td dmx-text="message_id" class="text-center"></td>
            <td dmx-text="from" class="text-center"></td>
            <td dmx-text="date.formatDate('dd/MM/yyyy HH:mm')" class="text-center"></td>
            <td dmx-text="topic" class="text-center"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="modal mb-5" id="modal1" is="dmx-bs4-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Mensagem</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form is="dmx-serverconnect-form" id="serverconnectform1" method="post" action="/api/messages/modMessages" dmx-generator="bootstrap4" dmx-form-type="horizontal" dmx-populate="data_detail1.data" dmx-on:success="modal1.hide();serverconnect1.load({},true);notifies1.success('Item excluído')">
              <input type="hidden" name="operator" id="inp_operator" dmx-bind:value="data_detail1.data.operator"><input type="hidden" class="form-control" id="inp_state" name="state" dmx-bind:value="data_detail1.data.state" aria-describedby="inp_state_help" placeholder="Enter State">
              <input type="hidden" class="form-control" id="inp_message_id" name="message_id" dmx-bind:value="data_detail1.data.message_id" aria-describedby="inp_message_id_help" placeholder="Enter Message">
              <input type="hidden" class="form-control" id="inp_from" name="from" dmx-bind:value="data_detail1.data.from" aria-describedby="inp_from_help" placeholder="Enter From">
              <input type="hidden" class="form-control" id="inp_content" name="content" dmx-bind:value="data_detail1.data.content" aria-describedby="inp_content_help" placeholder="Enter Content">
              <input type="hidden" class="form-control" id="inp_date" name="date" dmx-bind:value="data_detail1.data.date" aria-describedby="inp_date_help" placeholder="Enter Date">

              <input type="hidden" class="form-control" id="inp_connection_id" name="connection_id" dmx-bind:value="data_detail1.data.connection_id" aria-describedby="inp_connection_id_help" placeholder="Enter Connection">
              <input type="hidden" class="form-control" id="inp_topic" name="topic" dmx-bind:value="data_detail1.data.topic" aria-describedby="inp_topic_help" placeholder="Enter Topic">
              <input type="hidden" class="form-control" id="inp_to" name="to" dmx-bind:value="data_detail1.data.to" aria-describedby="inp_to_help" placeholder="Enter To">
            </form>
            <div class="table-responsive small">
              <table class="table table-bordered table-hover table-striped table-sm">
                <tbody dmx-generator="bs4table" dmx-populate="serverconnect1.data.query">
                  <tr>
                    <th class="small font-weight-bold">Message ID</th>
                    <td dmx-text="data_detail1.data.message_id"></td>
                  </tr>
                  <tr>
                    <th class="small font-weight-bold">Remetente</th>
                    <td dmx-text="data_detail1.data.from"></td>
                  </tr>
                  <tr>
                    <th class="small font-weight-bold">Estado</th>
                    <td dmx-text="data_detail1.data.state"></td>
                  </tr>
                  <tr>
                    <th class="small font-weight-bold">Data</th>
                    <td dmx-text="data_detail1.data.date.formatDate('dd/MM/yyyy HH:mm')"></td>
                  </tr>
                  <tr>
                    <th class="font-weight-bold small">Tipo</th>
                    <td dmx-text="data_detail1.data.topic"></td>
                  </tr>
                  <tr>
                    <th class="small font-weight-bold">Mensagem</th>
                    <td>
                      <p dmx-text="data_detail1.data.content">A nice paragraph</p>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-danger" dmx-on:click="run([{run:{action:`modal1.serverconnectform1.inp_operator.setValue(\'delete\')`}},{run:{action:`modal1.serverconnectform1.inp_operator.setValue(\'delete\');modal1.serverconnectform1.submit()`}}])"><i class="bi-trash-fill"></i></button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal mb-5" id="modal2" is="dmx-bs4-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Enviar mensagem</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="form1" method="post" is="dmx-serverconnect-form" action="/api/external/messages/send_message" dmx-on:success="modal2.hide();serverconnect1.load({},true);notifies1.success('Mensagem enviada');modal2.form1.reset()">
              <div class="form-group row">
                <label for="inp_messageID1" class="col-sm-2 col-form-label col-form-label-sm">Destinatário</label>
                <div class="col-sm-10">
                  <select id="conn_id" class="form-control" dmx-bind:options="serverconnect2.data.api.data.results" optiontext="their_label" optionvalue="connection_id" name="conn_id">
                  </select>
                </div>

              </div>
              <div class="form-group row">
                <label for="inp_messageID1" class="col-sm-2 col-form-label col-form-label-sm">Mensagem</label>
                <div class="col-sm-10">
                  <textarea id="message" class="form-control" name="message"></textarea>
                </div>

              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary btn-sm" dmx-on:click="modal2.form1.submit()">Enviar&nbsp;<i class="bi-arrow-clockwise"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>








  </div>

  <script src="bootstrap/4/js/popper.min.js"></script>
  <script src="bootstrap/4/js/bootstrap.min.js"></script>
</body>