<!-- Wappler include head-page="layouts/main" is="dmx-app" id="schemas" appConnect="local" jquery_slim_35="local" fontawesome_4="local" bootstrap4="cerulean" bootstrap_icons="cdn" -->
<meta name="ac:route" content="/schemas">

<div class="container-fluid mt-5">
    <div class="modal mt-5" id="modal1" is="dmx-bs4-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black-50 font-weight-bold">Schema</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="cursor: pointer;">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form is="dmx-serverconnect-form" id="serverconnectform1" method="post" action="api/schemas/modSchema" dmx-generator="bootstrap4" dmx-form-type="horizontal" dmx-populate="data_detail_schemas.data"
                        dmx-on:success="modal1.hide();sc_schemas.load({},true)">
                        <div class="form-group row">
                            <label for="inp_name" class="col-sm-2 col-form-label col-form-label-sm">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="inp_name" name="name" dmx-bind:value="data_detail_schemas.data.name" aria-describedby="inp_name_help" placeholder="Enter Name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inp_version" class="col-sm-2 col-form-label col-form-label-sm">Version</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="inp_version" name="version" dmx-bind:value="data_detail_schemas.data.version" aria-describedby="inp_version_help" placeholder="Enter Version">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inp_data" class="col-sm-2 col-form-label col-form-label-sm">Data</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="inp_data" name="data" dmx-bind:value="data_detail_schemas.data.data" aria-describedby="inp_data_help" placeholder="Enter Data">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inp_template" class="col-sm-2 col-form-label col-form-label-sm">Template</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="inp_template" name="template" dmx-bind:value="data_detail_schemas.data.template" aria-describedby="inp_template_help" placeholder="Enter Template">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inp_role" class="col-sm-2 col-form-label col-form-label-sm">Role</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control form-control-sm" id="inp_role" name="role" dmx-bind:value="data_detail_schemas.data.role" aria-describedby="inp_role_help" placeholder="Enter Role">
                            </div>
                        </div>
                        <input type="hidden" name="id" id="inp_id" dmx-bind:value="data_detail_schemas.data.id"><input type="hidden" name="operator" id="inp_operator" dmx-bind:value="data_detail_schemas.data.operator">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" dmx-on:click="run([{run:{action:`modal1.serverconnectform1.inp_operator.setValue(\'delete\')`}},{run:{action:`modal1.serverconnectform1.submit()`}}])">Excluir</button>
                    <button type="button" class="btn btn-primary"
                        dmx-on:click="run([{condition:{if:`(data_detail_schemas.data != null)`,then:{steps:{run:{action:`modal1.serverconnectform1.inp_operator.setValue(\'update\')`}}},else:{steps:{run:{action:`modal1.serverconnectform1.inp_operator.setValue(\'add\')`}}}}},{run:{action:`modal1.serverconnectform1.submit()`}}])">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <h5 class="text-black-50 text-center font-weight-bold">
        <p wappler-empty="undefined" wappler-command="editContent"><br></p>Schemas
    </h5>
    <button id="btn1" class="btn btn-primary btn-sm font-weight-bold" dmx-on:click="data_detail_schemas.select(0);modal1.show()">Adicionar&nbsp;<i class="fa fa-plus-circle fa-lg"></i></button>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover table-sm">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                </tr>
            </thead>
            <tbody is="dmx-repeat" dmx-generator="bs4table" dmx-bind:repeat="sc_schemas.data.query" id="tableRepeat1">
                <tr dmx-on:click="data_detail_schemas.select(id);modal1.show()">
                    <td dmx-text="name"></td>
                    <td dmx-text="version"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<dmx-data-detail id="data_detail_schemas" dmx-bind:data="sc_schemas.data.query" key="id"></dmx-data-detail>
<dmx-serverconnect id="sc_schemas" url="api/schemas/getSchema"></dmx-serverconnect>
<script src="/bootstrap/4/js/popper.min.js"></script>
<script src="/bootstrap/4/js/bootstrap.min.js"></script>