<!-- Wappler include head-page="layouts/main" is="dmx-app" id="schemas" appConnect="local" jquery_slim_35="local" fontawesome_4="local" bootstrap4="cerulean" bootstrap_icons="cdn" components="{dmxBootstrap4TableGenerator:{},dmxFormatter:{},dmxBootstrap4Modal:{},dmxDataTraversal:{},dmxStateManagement:{}}" -->
<dmx-session-manager id="session1"></dmx-session-manager>
<dmx-data-detail id="data_detail1" dmx-bind:data="serverconnect1.data" key="api_schemas.data.schema_ids[0].$value"></dmx-data-detail>
<dmx-serverconnect id="serverconnect2" url="/api/external/schemas/get_schemas_id" noload></dmx-serverconnect>
<dmx-serverconnect id="serverconnect1" url="/api/external/schemas/get_schemas"></dmx-serverconnect>

<meta name="ac:route" content="/schemas">

<div class="mt-5 container">
  <div class="modal pt-5" id="modal1" is="dmx-bs4-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Schema</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover table-sm">
              <tbody dmx-generator="bs4table" dmx-populate="serverconnect2.data.api_credentials.data.schema">
                <tr class="small">
                  <th class="small font-weight-bold">Id</th>
                  <td dmx-text="serverconnect2.data.api_credentials.data.schema.id" class="small"></td>
                </tr>
                <tr>
                  <th class="font-weight-bold small">Name</th>
                  <td dmx-text="serverconnect2.data.api_credentials.data.schema.name" class="small"></td>
                </tr>
                <tr>
                  <th class="font-weight-bold small">Version</th>
                  <td dmx-text="serverconnect2.data.api_credentials.data.schema.version" class="small"></td>
                </tr>
                <tr>
                  <th class="font-weight-bold small">Attr names</th>
                  <td dmx-text="serverconnect2.data.api_credentials.data.schema.attrNames" class="small"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Fechar</button>
        </div>
      </div>
    </div>
  </div>

  <h5 class="text-black-50 text-center font-weight-bold">
    <p wappler-empty="undefined" wappler-command="editContent"><br></p>Schemas
  </h5>

  <div class="table-responsive-sm">
    <table class="table table-striped table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th class="text-center font-weight-bold">Id</th>
        </tr>
      </thead>
      <tbody is="dmx-repeat" dmx-generator="bs4table" dmx-bind:repeat="serverconnect1.data.repeat" id="tableRepeat1">
        <tr dmx-on:click="serverconnect2.load({schema_id: id});modal1.show()">
          <td dmx-text="id" class="text-center"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script src="/bootstrap/4/js/popper.min.js"></script>
<script src="/bootstrap/4/js/bootstrap.min.js"></script>